@import url('https://fonts.googleapis.com/css?family=Cabin:100,200,300,400,500,600,700|Indie+Flower:100,200,300,400,500,600,700');

/* ----------------------------------- resets*/

body {
    font-family: cabin;
    background-color: #bf7406;
    height: 100%;
}

header {
    margin: 0;
}

 footer {
    margin-top: 50px;
    background-color: black;
}



/* ----------------------------------- construct-styles*/

.my-container {
    border: 1px solid green;
}

.my-row {
    border: 3px solid red;
}

.my-col {
    border: 2px dotted blue;
}

.my-footer {
    height: 60px;
    

.container {
    margin-bottom: 10px;
    background-color: lightgrey;
}

.container-fluid {
    margin-bottom: 10px;
    background-color: lightgrey;
}

.artist {
    border: 1px solid black;
    border-radius: 50%;
    width: auto;
}
