@import url('https://fonts.googleapis.com/css?family=Cabin:100,200,300,400,500,600,700|Indie+Flower:100,200,300,400,500,600,700');

/*--------------------------------------------------HTML ELEMENT STYLES/RESETS*/

body {
    background-color: lightgrey;
    font-family: cabin;
    height: 100%;
}

header {
    margin: 0;
}

 footer {
    margin-top: 50px;
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: White;
    transition: 0.5s;
}

a:hover {
    text-decoration: none;
}

/* -----------------------------------------------------------------NAV STYLES*/

/* ---COLOURS*/

.nav-bk {
    background-color: black;
}

.nav-bk a {
    color: white;
}

.web-slogan {
    color: #dc3545;
}

/* ---STYLES*/



.nav-link.txt-anchor-contact {
    padding: .5rem;
}

.nav-btn {
    border: 1px solid white;
    background-color: white;
    -moz-box-shadow:    inset 0 0 10px #dc3545;
    -webkit-box-shadow: inset 0 0 10px #dc3545;
    box-shadow:         inset 0 0 10px #dc3545;
}

.pop-btn {
    color: white;
    background-color: black;
    border: none;
    display: inline-block;
    vertical-align: middle;
    padding: .5rem;
    transition: 0.5s;
}

.txt-anchor-nav:hover {
    text-decoration: none;
    color:#dc3545;
}

.txt-anchor-contact:hover {
    text-decoration: none;
    color:#dc3545;
}

.pop-btn:hover {
    text-decoration: none;
    color:#dc3545;
    background-color: black;
    border-color: inherit;
}

.pop-btn:focus {
    outline: none;
    box-shadow: none;
}

.tog-btn:focus {
    outline: none;
}
    

/* -------------------------------------------------------------SECTION STYLES*/

/* ---COLOURS*/

.news {
    background-color: darkgrey;
}

.news1 {
    background-color: black;
}

.artist-cont {
    background-color: lightgrey;
}

/* ---STYLES*/

.news-container {
    background: url("../images/newsback.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.news-tron {
    min-height: 282px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    border-radius: 5px;
}

.mobile-image {
    display: none;
}

.txt-anchor {
    color: #212529;
    margin: auto;
    width: 50%;
    padding: .5rem;
    transition: 1s;
}

.artist-page {
    color: #212529;
    transition: 1s;
}

.txt-anchor:hover {
    color: white;
}

.news-banner:hover, .mobile-image:hover {
    box-shadow: 0px 0px 25px #fff;
}

.artist-page:hover {
    transform: scale(1.1);
    color:#dc3545;
}

/* --------------------------------------------------------------FOOTER STYLES*/

/* ---COLOURS*/

/* ---STYLES*/

.soc-icon {
    margin: 0 10px;
    transition: .5s;
}

.soc-icon:hover {
    color: #dc3545; 
}

/* --------------------------------------------------------------MEDIA QUERIES*/

/* ---SECTION QUERIES*/

/* \/\/ jmore009 - StackOverflow \/\/ */

    @media (max-width:767px) {
        .news-banner {
            display: none;
        }
    
        .mobile-image {
            display: block;
            margin: auto;
            border-radius: 12px;
        }
    }

/* /\/\ jmore009 - StackOverflow /\/\ */

@media (max-width:767px) {
    .txt-anchor {
        width: 100%;
    }
}

/* -----------------------------------------------------------------STYLES END*/